<div class="container">
<h1>Current Train Schedule:</h1>

	<table>
		<tr>
			<th>&nbsp;&nbsp;&nbsp;Train &nbsp;&nbsp;&nbsp;
				<select class="filter">
				  <option selected disabled>Filter by Train:</option>
				  <option value="Amtrak">Amtrak</option>
				  <option value="El">El</option>
				  <option value="Metra">Metra</option>
				</select>
			</th>
			<th>Route</th>
			<th>Run Number</th>
			<th>Operator ID</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
		<% @transportation.each do |data|%>
		<tr class="departure <%=data[:train_line]%>">
		  <td><%= data[:train_line] %></td>
		  <td><%= data[:route] %></td>
		  <td><%= data[:run_number] %></td>
		  <td><%= data[:operator_id] %></td>
		  <td><%= link_to 'Edit', edit_transport_path(data[:id]), :method => :put %></td>
		  <td><%= link_to 'Delete', delete_transport_path(data[:id]), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
	    <% end %>
	  </tr>
	</table>
	<div class="btn-container">
		<%= link_to 'Add New Train', create_new_path, class: "add-new-btn" %>
	</div>
	<div class="paginate-controls">
	  <%= paginate @transportation %>
  </div>
<div>
